.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: Roboto;
  margin-top: -85px;
  margin-bottom: -70px;
}

.container {
  width: 403px;
  height: 403px;
  background-color: #080808;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 180px);
  justify-items: center;
  align-items: center;
  box-shadow: 2px 2px 7px 2px #141312;
}

.quadrado {
  margin-left:50px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 1px 0.75px 4px 0.4px #636363;
}
.quadrado:not(:hover){
  opacity: 0.8;
  background: #353535 

}
.quadrado:hover{
  scale: 1.1;
  transition: 0.4s;
}

.quadrado  img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.quadrado span {
  font-size: 18px;
}
